@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Faculty+Glyphic&family=Farsan&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : "Poppins", sans-serif
}


body {
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EED891;
}
.wrapper {
    position: relative;
    height:330px;
    width: 620px;
    
    .flip-card{
        position: relative;
        height : 100%;
        width : 100%;   
        background : #D48600;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height : 100%;
        width : 100%;  
        background : #D48600;
        border-top: 2px solid #cc6600;
        border-left: 2px solid #cc6600;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    .triangle {
        position: relative;
        height : 0;
        width : 0;
        border-right : 60px solid transparent;
        border-left : 60px solid transparent;
        border-bottom : 110px solid #4d2600;

    }
    .triangle::before {
        content: "";
        position: absolute;
        height : 0;
        width : 0;
        left:-40px;
        top:20px;
        border-right : 40px solid transparent;
        border-left : 40px solid transparent;
        border-bottom : 80px solid #4d2600;

    }

}
